body {
  background-color: #808080;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.3;
  margin-top: inherit;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.li:hover {
  color: red;
}

ul {
  list-style-type: none;
  float: right;
}

a {
  text-decoration: none;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

h1, h3, figcaption, p {
  line-height: 32px;   /* within paragraph */
}

h1 {
  font-size: 2em; /* 32px */
  margin-bottom: 30px; /* between paragraphs */
}

h3 {
  font-size: 1em; /* 32px */
}

figcaption {
  font-size: .8em; /* 32px */
  margin-bottom: 25px;
}

p {
  font-size: 100%; /* 20px */
  margin-top: 30px;
}
