body {
  font-size: 16px;
  background-color: #A9A9A9;
  color: #000000;
}

a:link {
  text-decoration: none;
}

a {
  color: #FFA500;
}

a:hover {
  color: #00FF00;
}

p {
  font-size: 14px;
  font-family: serif;
  line-height: 2.5;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

figcaption {
  font-size: 12px
}

h1 {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 2.5;
}
h3 {
  font-size: 16px;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.5;
}
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
