body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  line-height: 1.5em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

p {
  margin-top: 0em;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 3em;  /* 48px */
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.5em; /* 24px*/
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

figcaption {
  font-size: 75%;
  line-height: 2em;
}

.logo {
  margin: 20px;
  width: 100px;
  background-image: url(images/bloc-logo.png);
  background-repeat: no-repeat;
  background-position: left;
}

.medium-pic {
  margin-top: 60%;
  width: 100%;
  background-image: url(images/instagram-pic.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a{
  text-decoration: none;
  color:#0070BB;
}
