body {
  background-color: #EDA0A6;
  color: #0000FF;
  line-height: 120%;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
  }

a:link { color:#3FBFBF; } /* unvisited */
a:visited { color:#4FA5A5; } /* visited */
a:hover { color:#C9E3E3; } /* mouse over */
a:active { color:#DDFDFD; } /* selected */

figcaption {
  font-size: 75%;
}
h1 {
  font-size: 200%;
  line-height: 175%;
}

h3 {
  font-size: 125%;
  line-height: 100%;
}

.author {
  font-size: 90%;
  line-height: 175%;
}

.story-text {
  font-size: 110%;
  line-height: 105%;
}
.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
